<div class="content_post" style="background-image: url(<%= tweet.image %>);">
        <ul class="more">
          <li>
            <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == tweet.user_id %>
          <% end %>
        </ul>
      <%= simple_format(tweet.text) %>
      <span class="name">
        <a href="/users/<%= tweet.user.id %>">
          <span>投稿者</span><%= tweet.user.nickname %>
        </a>
      </span>
    </div>